<footer class="w-full fixed bottom-0 flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0">
<div class="w-full font-sans text-gray-800 bg-gray-100">
  <span class="block text-center text-gray-800 text-sm font-light">
    &copy; hello.world
  </span>
</div>
</footer>
