<nav
  class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-1 bg-white sm:bg-transparent shadow sm:shadow-none">
  <div
    class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center">
    
    <a href="/" class="no-underline flex flex-wrap content-center " algith><img src="/img/logo.svg" class="float-left h-8" alt="hello.world logo"
        class="h-12 py-1"><div class="float-left text-gray-800 font-bold text-2xl tracking tracking-widest">hello.world</div></a>
        
    <button id="menuBtn" class="hamburger block sm:hidden focus:outline-none" type="button" onclick="navToggle();" aria-label="Show Menu"><span
        class="hamburger__top-bun"></span><span class="hamburger__bottom-bun"></span></button>
  </div>
</nav>
