{% for item in collections.sections %}
  {% if item.data.type === 'register' %}
    <div id="contact" class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-800">
      <div class="self-center text-center w-full xl:w-2/3 px-4 sm:px:0">
        <h2 class="font-bold tracking-widest text-gray-200 text-4xl mb-4">{{ item.data.title }}</h2>
        <div class="font-light text-gray-400 text-xl">
          {{ item.templateContent | safe }}
        </div>
        <div class="w-full max-w-lg my-20 mx-auto">
          <a class="flex-shrink-0 bg-purple-600 border-purple-600 hover:bg-gray-800 hover:text-purple-600 border text-gray-200 py-2 px-4" href="mailto:leo@leo.com">
              Contact Us Now!
            </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}