<div class="w-full content-center text-center mb-16">
  <h1 class="font-bold tracking-widest text-3xl mb-2">Our Projects</h1>
  <figure class="inline-block">
    <img src="/img/ethco.png" alt="EthCo" class="shadow rounded-full h-auto align-middle border-none inline">
    <figcaption class="block text-2xl">EthCo</span>
    <figcaption class="block text-xl">Ethereum R&D</span>
  </figure>
</div>
