<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h2 class="font-bold tracking-widest text-4xl">We make investments in</h1>
        <span class="content__container block font-light font-mono text-browngray text-2xl my-6 tracking-tight">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">10 PRINT "Hello, World!"</li>
            <li class="content__container__list__item xl:pl-3">printf("Hello, World!\n");</li>
            <li class="content__container__list__item xl:pl-3">echo "Hello, World!"</li>
            <li class="content__container__list__item xl:pl-3">&lt;?php echo "Hello, World!"&gt;</li>
            <li class="content__container__list__item xl:pl-3">IO.puts "Hello, World!"</li>
            <li class="content__container__list__item xl:pl-3">fmt.Println("Hello, World!")</li>
            <li class="content__container__list__item xl:pl-3">console.log("Hello, World!");</li>
            <li class="content__container__list__item xl:pl-3">print("Hello, World!")</li>
            <li class="content__container__list__item xl:pl-3">puts 'Hello, World!'</li>
          </ul>
        </span>
        <p class="font-bold tracking-widest text-4xl">awesome technology companies</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/mirage-easy-money.svg" alt="Investing in technology companies">
    </div>
  </div>
</div>
