<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h2 class="font-bold tracking-widest text-4xl">We are a Florida-based boutique venture capital fund</h1>
        <span class="content__container block font-light text-browngray text-2xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">Provide funding in all stages</li>
            <li class="content__container__list__item xl:pl-3">Up to $1 million per company</li>
            <li class="content__container__list__item xl:pl-3">Headed by ***REMOVED*** ***REMOVED***</li>
          </ul>
        </span>
        <p class="font-bold tracking-widest text-4xl">Investing in technology companies.</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/mirage-easy-money.svg" alt="Investing in technology companies">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="#about">More Information</a>
</div>